NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_PAYPAL_CLIENT_ID=

OPENAI_API_KEY=

PAYPAL_ENVIRONMENT=sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_PLAN_OPERATOR=
PAYPAL_PLAN_SCALE=
PAYPAL_PLAN_OPERATOR_TEST100OFF=
PAYPAL_PLAN_SCALE_TEST100OFF=
PAYPAL_WEBHOOK_ID=
